body{
    margin:0;
    padding: 0;
    background:#f5f5f5;
}
header{margin-bottom:50px;}
a{text-decoration: none}

.margin_auto{width:1347px;margin:auto;
    /* border: 1px solid red; */
}
@media screen and (min-width:992px){
    .lunbo iframe{
        width:100%;
        height:423px;
    }

}
@media screen and (min-width:576px){
    .lunbo iframe{
        width:100%;
        height:423px;

    }

}
/*轮播*/
.lunboiamge{width: 1347px;
    height: 422px;
    position:relative;

}
.lunboiamge>img{
   width: 1345px;
    height:422px;
    opacity:0;
    position: absolute;
    top:0;
    left:0;
    transition:all .5s linear;
    z-index:1;
}
.lunboiamge>img.show{
    opacity:1;

}
    /*主体*/
section{
    width:1260px;
    /*border: 1px solid red;*/
    margin: auto;
    margin-top: -100px;
    background: white;
    z-index:2;
    position: relative;
    margin-left: 50px;
}
/*主体大图*/
section .datu{
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;

}
/*小图*/
section .xiaotu{
    margin: 0;
    padding: 0;
    width: 96%;
    display: flex;
    justify-content: space-around;
    margin-left: 23px;
    float: left;
}
section .fangfa{
    
    overflow: hidden;
    display: block;
    width:260px;
    height:260px;
}
section .fangfa img{
    transition:all 1s ease;
}
section .fangfa img{
    width:260px;
    height:260px;
    }
section .fangfa img:hover{
        width: 260px;
        height:260px;
      transform:scale(1.05);
}
section .xiaotu span{
    background:#ff4001;
    padding:2px 4px;
    color:white;
    margin-right: 50px;
}
section .xiaotu h3{
    font-size:14px;
    font-weight:normal;
    margin-top: 15px;
    margin-bottom: 10px;
}
section .xiaotu a{
    color:red;margin-left: 30px;
}
section .xiaotu p{margin: 0}
/*购物*/
section .xiaotu .gowu{
    color:#ff3500;
    margin:0;font-size:12px;
    margin-top: 10px;
}

/*更多蛋糕*/
.gengduo{
    /*border: 1px solid red;*/
    margin-top: 30px;
    margin-bottom: 30px;
}
/*长图*/
.changtu{
    width:1354px;
    margin-left: -50px;
    /*text-align: center;*/
}
.changtu img{width:1354px;}
.gengduo a{
    float: right;
    color:#000;
}
/*底部评论*/
.pinglun{
    width:841px;
    /*border:1px solid red;*/
    margin:auto;
}
.pinglun .yuan img{
   border-radius: 50%;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom:5px;
}
.pinglun .shouji{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.pinglun .fontSize1{
    margin-left: 150px !important;
    font-size:12px;

}
.pinglun .fontSize2 {
    margin-left: 150px !important;
    font-size: 12px;
}

/*评论文字*/
.float_float{clear: both;}
.wenzhi1 ,.wenzhi{
    width:158px;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 100px;
    margin-top: 21px;
}
.wenzhi p{
    margin: 0;
}
.wenzhi1 p{
    margin: 0;
}
.wenzhi1 .float_right{
    float: right;
    margin-top: 50px;
    opacity: 0.5;
}
.wenzhi .float_right{
    float: right;
    margin-top: 50px;
    opacity: 0.5;
}
/*下点点*/
.flaot_right1 , .flaot_right2 , .flaot_right3{
    float: right;
    margin: 0;
}
/*立刻购买*/
.like{width:100%;}
.like a{color:#000;margin-left:355px}
.like .like1{margin-left: 186px !important;}
.like .like2{margin-left: 170px !important;}
/*评论图片*/
.tupian{margin-left: 60px}

.flaot_right1{margin-right: 100px}
.flaot_right2{margin-right: 230px}
.flaot_right3{margin-right: 230px}
 /*字体*/
 .pinglun h3{text-align: center}
 /*时间*/
.shijian{margin-top: 50px;}
.shijian p{
    margin: 0;
    float: left;
}
footer{position:relative;margin-top: 50px;}
/*清除浮动*/
table{
    clear: both;
}
